:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.container {
  display: grid;
  height: 96vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "titlebar titlebar titlebar"
    "maincontent maincontent maincontent"
    "content1 content2 content3"
    "footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #df49a6;
  text-align: center;
}

titlebar {
  background: #595d64;
  grid-area: titlebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

maincontent {
  background: #595d64;
  grid-area: maincontent;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  background: #595d64;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background: #595d64;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: #595d64;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background: #595d64;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

ha {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .container {
    height: 86vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "titlebar"
      "maincontent"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
