<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../ejs/partials/head.ejs') %>
  
    <title>
      dragongooseCDN - uploader
    </title>
  </head>

  <body>
    <!-- navbar -->
    <%- include('../ejs/page/navbar.ejs') %>

    <main>
      <label for="file_photo">Photo:</label>

      <input type="file" name="sampleFile" id="file_photo" /><br />
      <button type="submit" role="button" id="submit">Submit</button>

      <script>
        const form = document.getElementById("file_photo");
        const sumbit = document.getElementById("submit");

        sumbit.addEventListener("click", () => {
          async function sendData(url, data) {
            const formData = new FormData();

            formData.append("sampleFile", data);

            console.log(data);

            fetch(url, {
              method: "POST",
              body: formData,
              headers: {
                api_key: "fPP1iQeqDu",
              },
            })
              .then((response) => response.text())
              .then((data) => {
                console.log(data);
              });

            // ...
          }
          sendData("http://localhost:1816/upload", form.files[0]);
        });
      </script>
    </main>
  </body>
</html>
