<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../ejs/partials/head.ejs') %>

    <link rel="stylesheet" href="uploader/main.css" />
    <link rel="stylesheet" href="uploader/grid.css" />
  
    <title>
      dragongooseCDN - uploader
    </title>
  </head>

  <body>
    <!-- navbar -->
    <%- include('../ejs/page/navbar.ejs') %>

    <main>


      <!--
        You see this div with the class container, right?
        Wether you are contributing or snooping the code,
        i would like to tell you my struggle about this div.
        It took me 1.30 hours, messing with the CSS and HTML,
        looking at stack overflow to see what the hell was wrong.
        I've came to realize. I forgot to add this 1 div, making the 
        whole thing not work. 
        Thanks for coming to my speech.
        - Dragonshadow14
      -->
      
      <div class="container">

        <titlebar class="titleheader">
          Uploader
        </titlebar>
        <maincontent>
          <label for="file_photo">File:</label>

          <input type="file" name="sampleFile" id="file_photo" /><br />
          <button type="submit" role="button" id="submit">Submit</button>

          <p id="result">Waiting to send file.</p>
    
          <script>
            const form = document.getElementById("file_photo");
            const sumbit = document.getElementById("submit");
    
            sumbit.addEventListener("click", () => {
              async function sendData(url, data) {
                const formData = new FormData();
    
                formData.append("sampleFile", data);
    
                console.log(data);

                document.getElementById('result').innerText = 'Sending file.'
    
                const asd = await fetch(url, {
                  method: "POST",
                  body: formData,
                  headers: {
                    api_key: "REDACTED",
                  },
                })

                return asd.text();
    
                // ...
              }
             sendData(`http://cdn.dragongoose.xyz/upload`, form.files[0]).then(asd => {document.getElementById('result').innerText = asd})
            });
          </script>
        </maincontent>
        <footer>
          <%- include('../ejs/partials/footer.ejs') %>
        </footer>
      </div>

    </main>
  </body>
</html>
